body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  background-color:darkgray;
  margin: 0;
  font-size: 30px;
  text-align: center;
  width: 100%;
}

h2 {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.prefCheck {
  display: inline-block;
  margin: 2px 2px;
}

.main {
  margin: 0 auto;
  width: 60%;
}

.form {
  margin-bottom: 20px;
}

@media screen and (max-width: 479px) {
  .main {
    width: 100%;
    margin: 0;
  }
  h1 {
    font-size: 20px;
  }
  
}
